table,
th,
td {
      border: 1px solid black;
    }

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

section {
  text-align: center;
  margin-bottom: 20px;
}

section img {
  border-radius: 10px;
}

h3, h5, h6 {
  margin: 10px 0;
}

li ol {
  margin-left: 20px;
  margin-bottom: 5px;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #000;
}

th, td {
  padding: 8px;
  text-align: left;
}